@font-face {
  font-weight: normal;
  font-family: IBMPlexSans;
  font-style: normal;
  src: url("../fonts/IBMPlexSans-Regular.ttf") format("ttf");
}

@font-face {
  font-weight: normal;
  font-family: Monda;
  font-style: normal;
  src: url("../fonts/Monda-Regular.ttf") format("ttf");
}
